flask
python-dotenv

# LangChain ecosystem
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-groq

# Vector DB (Pinecone V3)
pinecone

# Embeddings
sentence-transformers
torch

# PDF loaders
pypdf

# Web server for hosting on Render
gunicorn
