flask
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-groq

pinecone

# Lightweight embedding model (NO torch)
huggingface-hub
onnxruntime
sentence-transformers  # Keep ONLY if needed, but not required

pypdf
gunicorn

