body,html{
	height: 100%;
	margin: 0;
	background: linear-gradient(to right, #26333d, #323741, #21214e);
}

.chat{
	margin-top: auto;
	margin-bottom: auto;
}

.card{
	height: 500px;
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.4) !important;
}

.msg_card_body{
	overflow-y: auto;
}

.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}

.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}

.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
}

.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	color: white !important;
	cursor: pointer;
}

.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;
}

.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;
}

.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}

.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}

.msg_cotainer{
	margin-left: 10px;
	border-radius: 25px;
	background-color: rgb(82, 172, 255);
	padding: 10px;
	position: relative;
}

.msg_cotainer_send{
	margin-right: 10px;
	border-radius: 25px;
	background-color: #58cc71;
	padding: 10px;
	position: relative;
}

.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	font-size: 10px;
	color: rgba(255,255,255,0.5);
}

.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	font-size: 10px;
	color: rgba(255,255,255,0.5);
}

.user_info span{
	font-size: 20px;
	color: white;
}

.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}
